# Logs
*.log
 
# Helm specific
charts/
*.tgz
Chart.lock
 
# Kustomize build output
*.out
tmp/
 
# Environment files
.env
*.env.*
 
# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
*.bak
 
# OS-specific
.DS_Store
Thumbs.db
